DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=TRIGO <hello@trigo.at>
NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
